<admin-create-edit-card [ce]="this" [formGroup]="form">
    <admin-multilingual-control
        col="8"
        [form]="form"
        [required]="true"
        [label]="'Name' | translate"
        [control]="'name'"
    >
    </admin-multilingual-control>
    <admin-form-control col="6">
        <label for="email" class="required" translate>Email</label>
        <input type="email" id="email" formControlName="email" nbInput [fullWidth]="true">
    </admin-form-control>
    <admin-form-control col="6">
        <label for="role" class="required" translate>Roles</label>
        <nb-select multiple id="role" [fullWidth]="true" formControlName="roles">
            <nb-option *ngFor="let role of roles" value="{{role.id}}">{{role.name}}</nb-option>
        </nb-select>
    </admin-form-control>
    <admin-form-control col="6">
        <label for="role" class="required" translate>Users</label>
        <nb-select id="users" [fullWidth]="true">
            <nb-option *ngFor="let role of (service.select$ | async)" value="{{role._id}}">{{role.email}}</nb-option>
        </nb-select>
    </admin-form-control>
</admin-create-edit-card>
