<nb-card status="{{ce.edit ? 'primary' : 'success'}}">
    <nb-card-header>
        {{ce.verb | translate}}
    </nb-card-header>
    <nb-card-body>
        <div class="row">
            <ng-content></ng-content>
        </div>
    </nb-card-body>
    <nb-card-footer>
        <div class="row">
            <div class="col-12 text-right">
                <a nbButton
                   translate
                   [routerLink]="[ce.edit ? '../../' : '../']"
                   status="basic"
                   class="mr-2">
                    Back to list
                </a>
                <button nbButton
                        translate
                        (click)="ce.update()"
                        [disabled]="ce.form.invalid"
                        status="primary"
                        *ngIf="ce.edit">
                    <nb-icon icon="checkmark"></nb-icon>
                    Update
                </button>
                <button nbButton
                        translate
                        (click)="ce.create()"
                        [disabled]="ce.form.invalid"
                        status="success"
                        *ngIf="!ce.edit">
                    <nb-icon icon="save"></nb-icon>
                        Save
                </button>
            </div>
        </div>
    </nb-card-footer>
</nb-card>
